[2022-05-05 12:24] wizardsd opened #401 "ScalablePipeline for CUDA"
How to efficiently implement scalable pipeline for CUDA tasks (cudaFlow)?

[2022-05-06 20:36] #401 closed

[2022-05-09 02:40] adamreeve opened #402 "Deadlock when running subflows in a pipeline"
When running subflows from within a pipe in a pipeline, I'm getting random deadlocks. I've simplified my code down to the following example which will sometimes run to completion within a few seconds but other times get stuck and stop making progress:

[code]

I'm using GCC 11.3.1 on Fedora Linux 35, with an AMD Ryzen 9 5900X (12 physical cores, 24 logical cores), and using taskflow v3.3.0.

If I

[2022-05-09 23:52] cheng-hsiang-chiu commented on #402
Hello Adam,

Are you using gdb to do the stack trace? We are trying to reproduce the issue.

[2022-05-10 00:06] adamreeve commented on #402
Hi @cheng-hsiang-chiu, I'm using the CLion IDE which I believe uses GDB internally.

[2022-05-10 22:23] gmclay commented on #361
Hierarchical cancelling makes sense to me. Similar to how a child process can be killed if the parent process is killed. This would be a nice enhancement to have.

[2022-05-17 22:05] tsung-wei-huang commented on #402
@adamreeve I don't think the new version (master branch) supports doing runtime task in pipeline as we introduce a `tf::ScalablePipeline` interface. In your case, you can try creating `tf::Taskflow` per line and do the subflow inside (or other task graphs). The in-pipeline runtime task seems to have some issue which we are still trying to figure. At this moment, please use [out-of-pipe taskflow](h

[2022-05-17 22:25] adamreeve commented on #402
Okay thank you for the response, yes the out-of-pipe taskflow approach doesn't seem to have this problem.

[2022-05-17 23:58] tsung-wei-huang commented on #402
@adamreeve I think we have fixed the issue. Would you please try [development branch](https://github.com/taskflow/taskflow/tree/dev) again and let us know if the problem still exists? (notice that the fix is in the dev branch not master branch). If the problem is solved, u can consider using the `tf::Runtime` feature.

Thank you for reporting this.

[2022-05-18 00:18] adamreeve commented on #402
Great, yes I can confirm the issue is fixed for me in the dev branch.

[2022-05-18 00:56] tsung-wei-huang commented on #402
Great! Please keep a close eye on the next release. We may rename `run` to others to reflect the method is synchronous.

[2022-05-18 14:17] ahmidou opened #403 "Partial graph execution"
Hi,
I can't find it but I'm wondering if there's a TBB `try_put` equivalent?
The goal would be to only execute or schedule tasks and their subsequent tasks versus the whole graph.

Thanks

[2022-05-19 05:42] tsung-wei-huang commented on #403
This is a good question but we do not currently support this feature. However, you can manipulate this using our [condition task](https://taskflow.github.io/taskflow/ConditionalTasking.html) (e.g., a condition task jumping to a certain starting point of the taskflow graph).

[2022-05-20 15:32] ahmidou commented on #403
Thank you for your prompt reply, I'll have a look at it.
I'm trying to wrap my head around using TaskFlow to build a DAG where a user can connect/disconnect nodes.
The Task API provide `precede` and `succeed`, but there's no way to remove the dependencies.
Should I use a Subflow for each node/task instead is there a performance overhead by doing so?

[2022-05-20 16:55] tsung-wei-huang commented on #403
It looks like what you want is [composable tasking](https://taskflow.github.io/taskflow/ComposableTasking.html) where you can create a taskflow object and let other users compose their workloads from your taskflow object. Let me know if this fits your need :)

[2022-05-20 17:07] ahmidou commented on #403
I'm not sure that's what I'm after. That would be more like `Subflow::detach()` but for the task themselves.

[2022-05-23 01:23] tsung-wei-huang commented on #403
Perhaps some code snippet can better explain what your need is?

[2022-05-23 01:23] #402 closed

[2022-05-23 23:24] tsung-wei-huang commented on #399
what is your version of CUDA and GPU? CUDA Graph requires certain version of support.

[2022-05-26 13:53] danielytics opened #404 "Ability to wrap task execution loop in the worker threads (worker thread decorator/middleware)"
**Please describe your feature request.**
I'd like to be able to inject custom logic into the worker threads to be run "around" the execution loop. By around, I mean that I'd like to be able to run code that calls  the loop, rather than just calling a function before and after the loop. Like this:

[code]

More concretely, it could be implemented something like this (in the `_spawn` function):

[c

[2022-05-26 16:35] bsviglo commented on #232
Any news on this task?

[2022-05-26 17:00] tsung-wei-huang commented on #404
Hi @danielytics thank you for the issue. I believe this is doable by extending the constructor of `tf::Executor` to include custom set-up and tear-down methods before each worker thread enters the loop:

[code]

Extend _spawn to take the two methods, set_up_thread and tear_down_thread
[code]

What do you think?

[2022-05-26 19:06] danielytics commented on #404
Thanks for the quick response and for considering the feature!

That covers the use case of setup and tear down, but it won’t allow me to wrap the loop in a try/catch block to catch exceptions.

If you don’t mind adding such a block to the existing code, then there is an alternative:

[code]

This isn’t quite equivalent to the wrapper function version I described since there’s no way to restart th

[2022-05-27 18:17] tsung-wei-huang commented on #404
@danielytics Thanks for the suggestion. Yes, I think that is a good idea. I am proposing the following abstract class that allows users to customize the thread behavior:

[code]

Any other thoughts?

[2022-05-27 19:04] danielytics commented on #404
No other thoughts, that looks good.

[2022-05-28 02:41] boxerab opened #405 "Question: is it possible to trigger the execution of individual tasks in a graph as data becomes available serially for each task ?"
### Current work-flow for my decompressor

1. single thread reads through compressed file and prepares N data blocks for N tasks
2. N tasks are scheduled and run in parallel by `taskflow`

step 1 is relatively slow as it is single-threaded.

### Possible Optimization

If it were possible to start executing a  task in step 2 as its data block becomes available,
then time for step 1 can be overlayed

[2022-05-28 20:16] tsung-wei-huang commented on #405
Do you mean something like [this example](https://taskflow.github.io/taskflow/RuntimeTasking.html#CreateARuntimeTask)?

[2022-05-29 12:47] boxerab commented on #405
perfect! exactly what I needed.

[2022-05-29 12:47] #405 closed

[2022-05-30 09:51] Maxi-git opened #406 "Executor::_consume_task can invoke unwanted tasks"
An issue is related to Executor::consume_task when we are joining (Executor::_join_dynamic_task_external / Executor::_join_dynamic_task_internal).
When worker's queue gets empty, but joint counter in not zero, we start to steal work from other queues, but while we can steal we don't check joint_counter, so we can freeze here until main queue is not empty, even if our join related tasks are already

[2022-05-30 18:28] tsung-wei-huang commented on #406
Hi @Maxi-git thanks for your comments. This does not affect the accuracy but a design choice - we want to keep the loop as long as there are tasks to do for a worker thread. Yes, moving the `exploit` tag outside the while-loop is ok, but when the worker leaves, the worker still runs its outer loop (e.g., `_exploit_task` and then `_explore_task`).

[2022-06-01 09:22] Maxi-git commented on #406
Thanks!

[2022-06-01 10:20] dinesh-10 opened #407 "Adding priorities to tasks"
Related :
#232

We are planning to use taskflow in our project. For using the taskflow one important feature is missing, that is, assigning priorities to the tasks.
I would be great if we have a way to assign the priorities to tasks. This will help scheduler to schedule the heavy task first and lighter tasks later so that better run can be achieved for application. Something like : https://spec.on

[2022-06-01 23:05] tsung-wei-huang commented on #407
@dinesh-10 thank you for the comment. Yes, this is something that other people are requesting. In the case of discrete priority, we can create a separate worker queue per priority. When a worker tries to get a task from its own local queue or steal a task from other workers' queues, it should always follow the order of priority.

I will have a look and see what I can do. At the same time, feel fre

[2022-06-02 21:06] tsung-wei-huang commented on #191
I believe this has just been addressed in the present master branch and will be part of the future 3.5.0 release. Please also refer to [Change the Worker Property](https://taskflow.github.io/taskflow/ExecuteTaskflow.html#ChangeWorkerProperty).

Feel free to reopen the issue if necessary.

[2022-06-02 21:06] #191 closed

[2022-06-02 21:07] tsung-wei-huang commented on #404
This issue has just been addressed in the present master branch and will be part of the future 3.5.0 release. Please also refer to [Change the Worker Property](https://taskflow.github.io/taskflow/ExecuteTaskflow.html#ChangeWorkerProperty).

Feel free to reopen it if any questions or problems. Thank you for your contribution.

[2022-06-02 21:07] #404 closed

[2022-06-02 21:08] tsung-wei-huang commented on #303
This issue has just been addressed in the present master branch and will be part of the future 3.5.0 release. Please also refer to [Change the Worker Property](https://taskflow.github.io/taskflow/ExecuteTaskflow.html#ChangeWorkerProperty).

Feel free to reopen it if any questions or problems. Thank you for your contribution.

[2022-06-02 21:08] #303 closed

[2022-06-07 14:37] maxsharabayko opened #408 "Submitting tasks in runtime"
I was thinking to utilise the `taskflow` for a UDP load balancer.
One thread receives UDP packets in a loop. For each packet received it can create a routing task. I.e. find the destination server from the routing table and send the packet to it.
I also want each route to a server to be an independent flow. Otherwise, packets from the same route may be reordered by parallel threads.

However, I am

[2022-06-08 12:20] maxsharabayko commented on #408
I was thinking about something like this to start with:

[code]

I was thinking about several taskflows each for a separate route, so that packets within the same route are sent sequentially, but several routes in parallel.
Later I found out you can't add a task to a taskflow while it is (probably) being executed.

[2022-06-10 15:04] dinesh-10 commented on #407
Thanks @tsung-wei-huang  for your comment.

Can you please tell how this can be extended to support N different levels (unsigned int) of priority levels like Intel-TBB support.
Something like using priority queue where tasks are sorted with their priority level. ?

[2022-06-13 18:03] tsung-wei-huang commented on #408
That seems quite weird because you are modifying the taskflow while it is running. This is typically not allowed for most task-parallel libraries. Is it possible to fix the structure of the graph (or if needed, using dynamic tasking) during the execution?

[2022-06-14 22:03] robinchrist opened #409 "Are placeholders completely safe?"
I'm wondering about placeholders:

Are they completely safe in the sense that they're valid tasks and will just run through like a task that is just an empty lambda?

I've read through the source code and it seems like that's the case, but I want to make sure.

If yes, it might be worth adding a bit to the documentation like:

[code]

[2022-06-15 16:59] tsung-wei-huang commented on #409
Hi @robinchrist , yes, your understanding is correct. You can essentially view a placeholder task as an empty lambda that does nothing (i.e., no-op). Feel free to modify the documentation via a pull request :)

[2022-06-15 17:09] #382 closed

[2022-06-18 10:43] milianw commented on #346
You can check the `Taskflow_FIND_QUIETLY` before doing the `message()`

[2022-06-20 18:08] KforKelvin opened #411 "Build error with ARM-OSX"
**Describe the bug**
Build error when compile my application with the taskflow library on arm64-osx (Macbook M1 chip). The same code works on x64-windows. I installed taskflow:arm64-osx (version: 3.3.0) successfully in vcpkg, but the application build is failing.

This seems like it might be a problem with SIMD; it might be fixed by disabling SIMD somehow?

Exact error:
[code]

**Screenshots**
<im

[2022-06-21 15:25] maxsharabayko commented on #408
If a task is defined as "queue a packet for routing to a different destination", then tasks are arriving in run-time, dynamically.
There could be one queue of tasks per route (pipe?), but the task itself has to be added dynamically.

Or a task could be the routing loop, reading a packet from some queue and sending it to the target. Then the whole taskflow consists of a single task, and it is just

[2022-06-21 16:20] tsung-wei-huang commented on #411
This has been fixed in the newest release v3.4. If for some reasons you need to use v3.3, please comment line 126 in `taskflow/utility/os.hpp` as follows:

[code]

[2022-06-23 07:18] gamagan opened #412 "Synchronization of variables between Taskflow and main thread"
Hi,

I looked in the manual, but didn't come across the info I'm looking for.

What are the synchronization requirements for data that gets read/written within a Taskflow callback, and the same data used by non-Taskflow functions.
Specifically, I have a setup like the following:

[code]

The function `UseFooBefore()` updates an int field of Foo, `Foo.myInt`. Then the taskflow is executed -- `Foo.m

[2022-06-23 17:55] gamagan commented on #412
It is the callback invoked by taskflow.

[2022-06-23 18:38] tsung-wei-huang commented on #412
In the logic of your code, you will execute UseFooBefore, then update it when you submit a Taskflow, and then run UseFooAfter, in a sequential order. I don't see any possibility that you can't see the update being prograted after "wait_for_all". Maybe you can provide a complete code so I can reproduce it?

[2022-06-23 18:49] gamagan commented on #412
To clarify, it's like this:

Yes, this is the case.

Yep, this has been stumping me; can't figure out. But, it's good to confirm that the value *should* be visible in `UseFooAfter`

I was trying to do this, but it's part of a large codebase from which I can't rip just this chunk out. I discovered this as part of the unit-tests in this codebase. Sorry, I know it would have helped.

[2022-06-24 04:19] gamagan opened #413 "Checking executor done without blocking"
Is there a way to check if an executor is done executing without waiting on it?

[code]
Another question. When waiting for an executor on the main thread:
[code]
Does the main thread join the thread-pool of the executor, or does it wait idle?

[2022-06-24 17:41] jmricher70 opened #414 "How to use objects with TaskFlow ?"
I have a small program that defines objects to compute Fibonacci numbers but when I create tasks it seems the operator()() is not taken into account. I probably don't use the right syntax. Here is the code  for which I always get a result of -1 for both tasks.
Could someone tell me what I am doing wrong ?
Best regards.

[code]

[2022-06-24 18:24] tsung-wei-huang commented on #414
`fib1` and `fib2` are not something recognized by Taskflow. You can wrap it inside a static task and explicitly call them:

[code]

[2022-06-24 18:37] gamagan commented on #413
Yes. But, my question is if it's possible to determine whether the executor is done with its work *without waiting*, without blocking, so the main thread can perform other work while the executor is running, as shown in the example. Or, conversely, if there is no way to determine when the executor is done running, without waiting/blocking.

[code]

[2022-06-24 18:49] tsung-wei-huang commented on #413
I see. That's an interesting question. Currently, we don't have anything that determines when the executor is done running, without waiting/blocking. The rationale is that all submission methods are thread-safe. In other words, it's not possible to precisely define what "an executor completes" really means as multiple threads can submit their own taskflows at an arbitrary time. However, if you kno

[2022-06-24 20:00] gamagan commented on #413
In my case, only the main thread is submitting tasksflows, so the polling should work for my usecase.

I don't think that particular method would work for my particular usecase. From the sound of it, if something hasn't completed, it would return immediately, which is good. But, if something has completed, then it would block until the rest also complete. What I'm after is more like the `.num_topo

[2022-06-24 20:30] tsung-wei-huang commented on #413
If only the master (one thread) is submitting taskflows to your executor, you can use `tf::Executor::num_topologies()` to query if the executor has completed all taskflows. Indeed, `tf::Executor::wait_for_all` uses a condition variable to wait on the number of topologies for completion.

Will close the issue now - feel free to reopen it if you have any more questions. Thank you for using Taskflow!

[2022-06-24 20:30] #413 closed

[2022-06-24 21:02] sampotter opened #415 "Why does taskflow depend on Eigen?"
Not really a bug... But why does Taskflow bundle Eigen in its set of 3rd party libraries? Is there some special reason for this?

[2022-06-24 21:15] tsung-wei-huang commented on #415
Hi @sampotter Taskflow doesn't depend on Eigen. The 3rd-party is just used for benchmarking purposes (i.e., `benchmarks/mnist/`). In your project, you should just use the Taskflow headers.

[2022-06-24 21:19] sampotter commented on #415
My mistake... thanks for the quick reply. Because of some idiosyncrasy with my development setup I thought the bundled Eigen was getting pulled in to my build, but it is not. Closing this.

[2022-06-24 21:19] #415 closed

[2022-06-25 22:13] jmricher70 commented on #414
Thank you for your help

[2022-06-25 22:13] #414 closed

[2022-06-28 22:09] Nahor commented on #190
@tsung-wei-huang, I don't think this worker property feature is what was asked in this ticket. The worker property allows to assign a worker to a specific CPU. What was asked is to assign a task to a specific worker.

And better yet, it would be a set of workers. For instance with Vulkan, one needs to create per-thread resources (pools, queues, ...). Using affinity, one would only need to create t

[2022-06-29 17:17] jmricher70 opened #416 "null value after launching task"
*I have created a class and one of the method -- int operator()() -- is used as a task. I have done that to compute PI using a monte-carlo algorithm and I can start several tasks and everything is fine.

I am working under Linux Ubuntu 20.04.

The class I have written is the following :

[code]
I create the tasks like this :

[code]
Everything works fine until I enter the operator()() method :

in

[2022-06-30 17:05] tsung-wei-huang commented on #416
I believe this is a misuse of C++ lambda capture - nothing to do with Taskflow:

[code]

Here, you capture your `task` in reference and that `task` will disappear when you go out of the for-loop. So you should do it by copy instead:

[code]

[2022-06-30 17:06] tsung-wei-huang commented on #412
No problem. I will close this issue first - feel free to reopen it when you find more insight. For now, I don't see any issue of your use case of Taskflow.

[2022-06-30 17:06] #412 closed

[2022-06-30 17:20] jmricher70 commented on #416
Effectively, it works now ;-)
Thank you very much for your help.

[2022-06-30 17:20] #416 closed

[2022-07-09 18:54] sampotter commented on #90
@erling-d-andersen Did this go anywhere? I'm also interested in having access to something like Taskflow but from C. Curious to hear what you found... There does not seem to be a good solution currently, unless I am unaware of it. Thanks.

[2022-07-11 11:55] erling-d-andersen commented on #90
We decided to use oneTBB.

[2022-07-13 20:30] csphile opened #418 "Run benchmarks on mac m1"
I'm not able to run benchmarks on mac m1.
The error message is:
`-- Building is unsuccessful (2): ~/taskflow/3rd-party/tbb/./build/Makefile.tbb:28: CONFIG: cfg=release arch=ia32 compiler=clang target=macos runtime=cc_os12.4
ld: unknown/unsupported architecture name for: -arch armv4t
clang-12: error: linker command failed with exit code 1 (use -v to see invocation)
make[1]: *** [libtbb.dylib] Error

[2022-07-15 14:58] bradphelan opened #419 "Question: How to create an object pool with capacity equal to maximum parallelization of a subtask set."
In our current system we have large buffers that are allocated. A task should be able to request a buffer, perform some work with it and at the end of the task return the buffer. It should be guaranteed that this buffer is not used by any other task in parallel. So the workflow is

Allocate N buffers where N is the maximum parallelization for the subtasks
Spin up M sub tasks
When a task is started

[2022-07-17 21:25] tsung-wei-huang commented on #419
Hi @bradphelan , the buffers do not seem to conflict with Taskflow but I am a bit confused by the question itself. Taskflow doesn't handle data but only parallelizes task graphs based on your definition. In this case, shouldn't you just create a pool of `N` buffer where `N` equals the maximum parallelism? When each task starts, it goes to the pool to grab a buffer. The design of the buffer pool is

[2022-07-17 21:30] tsung-wei-huang commented on #418
This is actually Intel's TBB problem when building the benchmarks. I am not sure how to resolve it but perhaps you may post this at Intel TBB's repository.

[2022-07-17 21:32] #418 closed

[2022-07-17 21:34] tsung-wei-huang commented on #399
close first since there hasn't been much activity - feel free to reopen if it is still there.

[2022-07-17 21:34] #399 closed

[2022-07-17 21:35] tsung-wei-huang commented on #346
Close first - feel free to reopen it if the problem is still there.

[2022-07-17 21:35] #346 closed

[2022-07-18 04:53] bradphelan commented on #419
Yes. Maybe I've made other question too complex. The question should really
be: how to get this number N which is the maximum parrelization? Sorry for
the confusion.

On Sun, 17 Jul 2022, 23:25 Tsung-Wei Huang, ***@***.***>
wrote:

[2022-07-18 10:24] muazsh opened #420 "taskflow CPU usage very high"
**Describe the bug**
I am using taskflow version 3.1.0, when creating an executor of more than 3 workers in my case, the cpu usage is very high and takes 2 cores completely despite those worker are doing nothing but waiting for tasks. The case is reproducible under windows and ubuntu, I profiled it under windows and the usage can be reducing to almost 0 when replacing `std::this_thread::yield();`

[2022-07-18 17:41] tsung-wei-huang commented on #420
@muazsh that is the default behavior of Taskflow's work-stealing algorithm. We keep an invariant that as long as an active worker exists (i.e., running a task) there should be at least one worker online to steal tasks (i.e., `explore_task`). This keeps the performance optimal but may trade in CPU utilization for a certain application. And yes, in your case, you can change `yield` to `sleep` but wh

[2022-07-21 19:01] boxerab commented on #419
@bradphelan tasks are executed by a `tf::Executor`, which is created with a specified number of threads. The default constructor uses `std::thread::hardware_concurrency()`. So, once you have created an executor, you can call `num_workers()` to get its number of threads.

[code]

[2022-07-21 19:04] boxerab opened #421 "Question: has taskflow been compiled/tested/used with WebAssembly ?"
https://web.dev/webassembly-threads/

https://webassembly.org/roadmap/

[2022-07-21 19:34] tsung-wei-huang commented on #421
I believe I ever tried using Emscripten and it worked out ok - but at that time pthread was not fully supported yet. This might be an interesting direction to investigate.

[2022-07-21 20:26] boxerab commented on #421
Thanks, I will take a look. As with many web standards, it wasn't clear in 2017 whether WebAssembly would get enough traction to survive, but it looks like it is succeeding - there's been a lot of activity these past few years, including improved support for threading and SIMD. So, having a taskflow sample built for WASM would definitely help the project reach a wider audience.

[2022-07-21 20:47] boxerab commented on #421
unfortunately, the examples fail with error below

[code]

[2022-07-21 20:49] tsung-wei-huang commented on #421
It's totally fine to remove the corresponding [macro block](https://github.com/taskflow/taskflow/blob/96620cce7cf3bb67e039dad4ecd556ba61347787/taskflow/utility/os.hpp#L79) such that the macro does not trigger the error.

[2022-07-22 07:47] derandomiz opened #423 "Minor performance issue with static tasking"
**Describe the bug**

I tried to use Taskflow on simple tree traversal example, but encountered some overhead. In the example I generate a random tree with weight `node_weight(i)` associated to node `i` and want to compute the sum of all node weights. As this is an experiment I deliberately chose to implement this with dynamic programming where `subtree_weight(parent) = node_weight(parent) + sum(s

[2022-07-22 16:39] tsung-wei-huang commented on #423
The DFS is a very fast linear-time algorithm and your computation per node (see below) is very lightweight. In this case, running any parallel version (not just using Taskflow but also other libraries) will not give you any benefit.

[code]

You can try to increase the computation and you will be able to see the benefit when per-node computation becomes heavy.

[2022-07-22 18:48] boxerab commented on #421
compile is now enabled in #422

[2022-07-22 18:48] #421 closed

[2022-07-23 01:14] derandomiz commented on #423
Thank you for your explanation. I tried to increase the per-node computation and the overhead becomes negligible.

[2022-07-23 01:14] #423 closed

[2022-07-27 21:25] tsung-wei-huang commented on #419
close for now - feel free to reopen if the issue is still there.

[2022-07-27 21:25] #419 closed

[2022-07-28 21:51] tsung-wei-huang commented on #407
Dear all,

The newest master branch has included the priority feature. Documentation is [here](https://taskflow.github.io/taskflow/PrioritizedTasking.html). This feature will be pushed to the next release v3.5.0.  Feedback and comments are welcome!

[2022-07-28 21:51] #407 closed

[2022-08-02 18:21] tsung-wei-huang commented on #403
close the issue first as there is no activity - feel free to reopen it if you have any update.

[2022-08-02 18:21] #403 closed

[2022-08-04 21:08] yonik opened #424 "Cleanup async taskflow"
Need a mechanism to delete a previously dynamically allocated Taskflow after it has finished.

Motivation:
The thread submitting a new Taskflow to an executor won't be around to call wait() on the future, hence the submitted Taskflow needs to be dynamically allocated and deleted when the Taskflow is completed.  But how do we know when the Taskflow has completed?

I tried cleaning up the Taskflow i

[2022-08-04 21:30] tsung-wei-huang commented on #424
Do you mean [submit a taskflow with moved ownership](https://taskflow.github.io/taskflow/ExecuteTaskflow.html#ExecuteATaskflowWithTransferredOwnership)? When you run a taskflow with "move" semantic, its lifetime will be managed by the executor (i.e., automatically released upon completion).

[2022-08-05 01:54] yonik commented on #424
Ah, that works perfectly! Thanks!

[2022-08-05 01:54] #424 closed

[2022-08-08 12:47] boxerab opened #425 "[Question] Is taskflow for_each_index a drop-in replacement for Intel TBB parallel_for ?"
I am taking a look at a project that uses TBB `parallel_for` for a few loops. When I tried replacing one of these calls
with `taskflow` `for_each_index` call, the average duration for the loop increased by around 5X.

[2022-08-08 16:09] tsung-wei-huang commented on #425
Yes, tf::Taskflow::for_each is a drop-in replacement - by default, it uses the guided scheduling algorithm similar to OpenMP. What does each iteration look like in your case? The source code is available [here](https://github.com/taskflow/taskflow/blob/master/taskflow/algorithm/for_each.hpp).

[2022-08-08 23:49] tsung-wei-huang commented on #425
Tried compiling the code but got the following error:

[code]

Any idea?

[2022-08-09 00:04] tsung-wei-huang commented on #425
PS: I don't mind you create a secure log-in account to whatever machine you benchmark the workload :) which might be easier for me to configure all requires files in order to run the program

[2022-08-09 16:02] tsung-wei-huang commented on #425
[code]

Any idea?

[2022-08-09 16:15] tsung-wei-huang commented on #425
Thanks! Now it compiles. Anyway I can skip the following core-dump due to x11 code?

[code]

[2022-08-09 16:41] tsung-wei-huang commented on #425
OK - let me wait for a complete run to finish and dig into it a bit more. Could you please let me know what each step of the parallel-for-loop is doing? (in a very high-level description). Additionally, I am interested in the following questions:

1. Is the parallel-for-loop balanced or unbalanced at each step? i.e., each step does pretty much the same or different workload
2. How many steps in ge

[2022-08-09 18:54] kzuiderveld opened #426 "How to embed asynchronous pipelines in TaskFlow"
I'm trying to use TaskFlow for an application that contains a mix of GPU and CPU-based processing; the caveat is that the GPU processing is not using a local GPU/CUDA but is using an NVIDIA Triton inference server (for deep learning).

So, as part of the computational graph, we need to do inference using a Triton server; as it will take a while for the data to be uploaded, inference being done, an

[2022-08-09 20:07] tsung-wei-huang commented on #426
Hi @kzuiderveld thank you for using taskflow in your deep-learning workload. Your solution idea is correct - i.e. the worker thread will steal work while waiting for the inference data to arrive. This can be done using the new [tf::Executor::loop_until](https://taskflow.github.io/taskflow/classtf_1_1Executor.html#afbff30c324c5887aace09e7fe9a0d607) which prevents the caller thread from blocking but

[2022-08-10 01:26] tsung-wei-huang commented on #425
On my machine, I saw about 2x slower, i.e., 0.015 (Taskflow) vs 0.008 (TBB). I also tried changing that loop to OpenMP and it ran about 0.006.

[code]

Taskflow's parallel-for algorithm is essentially the same as OpenMP's guided scheduling implementation. But it's quite interesting and confusing to me that the loop doesn't work out as efficient as OpenMP in this particular workload :)

I will need

[2022-08-10 21:26] tsung-wei-huang commented on #425
Are you doing any recursive tasking based on the number of workers configured in the executor?

[2022-08-11 18:28] tsung-wei-huang commented on #425
It does look like to be the inherent tasking overhead of taskflow. Unlike TBB or OpenMP where you can start the parallel-for immediately, taskflow wraps the for-each workload in a taskflow and you will need to submit it to an executor. These tasking work count for overhead.

Yes, I did a slight optimization for all parallel algorithms in taskflow, and they have been pushed to the master branch. Th

[2022-08-12 20:03] tsung-wei-huang commented on #425
Also, you may try experimenting different numbers of worker threads for the executor. Although Taskflow will dynamically balance the worker threads with available task parallelism, more workers do give more overhead during the balancing process. For instance, on my machine of 16  Intel(R) Core(TM) i7-11700 @ 2.50GHz, using 4 worker threads gives the best performance.

[2022-08-13 14:27] #425 closed, assigned to nobody

[2022-08-13 19:35] tsung-wei-huang commented on #426
close this issue first - feel free to reopen it if you have additional questions

[2022-08-13 19:35] #426 closed

[2022-08-14 14:20] yonik commented on #291
I figured out a work-around using a tf::Semaphore initialized to 0. Then an external system can signal/release the semaphore via running a dummy task for that purpose.

[code]

Any suggestions on how to improve this signaling mechanism? Would it be possible to allow explicitly releasing a semaphore outside of a worker?  One thing I noticed is that this does cause the CPU to spin if there are no ot

[2022-08-16 17:52] tsung-wei-huang commented on #363
will close this issue first - feel free to reopen it if the problem still exists.

[2022-08-16 17:52] #363 closed

[2022-09-02 17:24] KOLANICH opened #429 "Implement packaging using CPack"
You know, `sudo ninja install` is completely inacceptable.

[2022-09-06 10:07] bradphelan opened #430 "Query: FPU context save and reset within tasks"
** Does Taskflow manage FPU state?*

In our wrappers for OpenMP we use have a utility to reset the FPU state for each task or chunk of tasks. Does the Taskflow scheduler perform any FPU register management at all?

[2022-09-11 14:32] Search-the-unknown opened #431 "How does taskflow schedule multiple tasks on an Executor with multiple workers?"
I plan to schedule tasks with taskflow in a real-time system, so I need to know how long it takes to finish a task and make sure every task meets its deadline.

Supposing that :  we have five tasks called A, B, C, D, E . The time required to complete each of them with 10 workers is 1 second, 2 seconds, 4 seconds, 6 second and 10 seconds . we know this in advance.

Now , we create a  taskflow with

[2022-09-12 03:09] tsung-wei-huang commented on #431
Hi @Search-the-unknown , taskflow is not designed for real-time system or real-time scheduling. In your case, you can assign a priority to tasks that need to finish earlier, but you are right, the task execution order is completely random and decided by the taskflow's work-stealing scheduler at runtime.

[2022-09-13 11:43] feng-y opened #432 "How about taskflow support naming executor thread wtih "taskflow_%d"?"
**Please describe your feature request.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

[2022-09-13 15:58] sunbubble opened #433 "Prioritized Tasking for `tf::Taskflow`s"
I just saw the upcoming [Prioritized Tasking](https://taskflow.github.io/taskflow/PrioritizedTasking.html) and I'm very happy to see it!
This is a question/feature request.

[code]

Assuming there's no other order dependency, will the tasks from `taskflow_with_high_priority_tasks` be prioritised over the tasks of `taskflow_with_low_priority_tasks`?

[2022-09-13 19:53] tsung-wei-huang commented on #432
You can always use `tf::Executor::this_worker_id` to query the ide of a worker (`-1` if not a worker of that executor). With this id you can create your own mapping.

[2022-09-13 19:53] #432 closed

[2022-09-13 19:53] #429 closed

[2022-09-13 19:57] tsung-wei-huang commented on #433
Currently, priority is attached on a per-task basis, rather than taskflow. But you can always assign different priorities for tasks of different taskflows to control your behavior.

The short answer to your last question is no - there is no guarantee that this priority will always work because the Taskflow runtime will automatically decide which task to run first or later for dynamic load balancin

[2022-09-13 20:04] tsung-wei-huang commented on #430
Taskflow does not perform any FPU register management. It's completely up to your choice.

[2022-09-14 13:13] sunbubble commented on #433
Sorry, I think I didn't express myself clearly. I meant prioritised on average, but without strict order guarantees.

From this, I understood that the answer is actually yes. But if you want a strict order of execution guarantee you must establish a precedence relation explicitly.

[2022-09-21 10:06] dinesh-10 opened #435 "run_and_wait causes deadlock"
**Describe the bug**
run_and_wait API causes deadlock for the below example. I slightly modified examples/run_and_wait.cpp file and got a deadlock.
Can you please tell the reason of the deadlock ? It looks like a bug in implementation, Can you please confirm ?

**To Reproduce**
Run below example with taskflow-3.4.0 version :

[code]

**Desktop (please complete the following information):**
using t

[2022-09-21 11:15] dinesh-10 opened #436 "run_and_wait() API backport to older version"
Hi,

Currently I am using taskflow-3.0.0 version. I found "run_and_wait" API which is added recently and very useful for my use-case.

I am trying to backport it to taskflow-3.0.0 version, below is what I added :

[code]

On running the below example "run_and_wait.cpp" while the API works fine but when I re-submit "other" taskflow to the executor it causes deadlock :

[code]

Question :
1. Is my "

[2022-09-22 06:56] bradphelan commented on #430
Could this be managed via the tf::ObserverInterface? That is adding in custom hooks into the TF lifecycle?

[2022-09-22 15:31] tsung-wei-huang commented on #430
That sounds like a viable solution - although not recommended because observer is supposed to just observe when a task is executed by which thread.

[2022-09-22 15:33] tsung-wei-huang commented on #435
I saw you running the taskflow `others` by two tasks in parallel, `C` and `D`. This is not allowed - a taskflow cannot be run concurrently by two or more threads. But when you uncomment `//C.precede(D);`, the program should finish correctly.

[2022-09-22 21:07] maxbachmann commented on #328
@tsung-wei-huang is there anything that can be done to help get this feature in? It appears there is already a PR and many of the used objects are simply not accessible in the public interface -> it can not simply be implemented outside of taskflow

[2022-09-23 06:58] dinesh-10 commented on #435
Thank you tsung for clarification. It would be great if you add this info in taskflow document saying "A taskflow cannot be run concurrently by two or more threads.".

[2022-09-23 07:00] dinesh-10 commented on #436
Hi tsung,
Yes problem exist when C.precede(D) is specified.
Can you confirm that the API "run_and_wait", which I shared, is correct for w.r.t taskflow-3.0.0 version. Is there anything missed here ?

[2022-09-23 15:48] tsung-wei-huang commented on #436
v3.4 and v3.5 (main branch) have a different scheduling organization to support `run_and_wait` - and your implementation idea is correct but the call to `per_thread` and `_invoke_dynamic_task_internal` has been modified in the later release to fix some bugs. HAve you tried using v3.4 and see if the problem is still there?

[2022-09-23 15:49] tsung-wei-huang commented on #435
I will add this statement to the handbook in the next release. Thanks for the comment!

[2022-09-23 15:49] #435 closed

[2022-10-08 02:43] Search-the-unknown commented on #275
I have the same question in Ubuntu 18.04, could you tell me your solution,please?

[2022-10-09 11:13] SundaramRathinam opened #437 "Issue in using tf::Taskflow.Composed_of() functionality"
**Describe the bug**
Trying to use Composition functionality to make my workflow modular. Facing issue in keeping target_Taskflow  alive.
To resolve the above issue
- Either i have to define n number of TaskFlow at global level , will be knowing at run time only which part of my workflow will be created as module
- Created map to store the n number of taskflow based on run time information
- There

[2022-10-11 01:16] tsung-wei-huang commented on #437
Hi, @SundaramRathinam , thanks for your questions. Your understanding is correct. Composing a taskflow from another taskflow must ensure both taskflow remain alive during the execution. `composed_of` does not own any taskflow but creates a soft linking (e.g., pointer) to the graph to compose.

Does this answer your question? Sorry, I saw quite a lot of messy code but I tried the best to understand

[2022-10-11 04:58] SundaramRathinam commented on #437
Thanks for the quick reply, i am using std::vector(tf::Taskflow(name)) to overcome the above issue.

[2022-10-11 13:55] tsung-wei-huang commented on #437
@SundaramRathinam Yes, that's something I will do :)

[2022-10-11 13:55] #437 closed

[2022-10-18 07:11] YangYike007 opened #438 "difference between tf::PipeType::SERIAL or tf::PipeType::PARALLEL"
Hi, I'm getting started with taskflow. I'm not quite clear about the impact of these two pipe types based on the sample on the website. Could you please give an example to illustrate their function or explain their impact on the running of worker threads?
For example, (tf::PipeType::PARALLEL) refers to parallelism between pipes in a line or lines?
Thanks

[2022-10-18 09:41] MAhaitao999 opened #439 "Does taskflow support NPU?"
**Can taskflow support NPU?**
Taskflow is a great job! I want to use it in my soc project. On the soc, there is an NPU to run the neural network algorithm, and four ARM cores to run the pre and post processing. If I want to run multiple algorithms pipelines(They are independent) on this soc, can I use taskflow for scheduling?

[2022-10-18 16:09] tsung-wei-huang commented on #438
Pipe type referes to the parallelism of a pipe between lines. For example, if you have a parallel pipe under 4 lines, the maximum parallelism is 4. Does this make sense?

[2022-10-19 08:25] YangYike007 commented on #438
Yes that makes sense. [https://taskflow.github.io/taskflow/TextProcessingPipeline.html](url) In this pipeline processing example, the code is const size_t num_lines = 2, and the comment says the pipeline consists of three pipes (serial-parallel-serial) and up to four concurrent scheduling tokens. According to what you said,  I guess it's a typo and the actual concurrency should be 2?
Thanks a lot.

[2022-10-19 17:41] tsung-wei-huang commented on #438
@YangYike007 sorry it is a typo. When I first created the example, I used `num_lines = 4`. In this case, you are right. The parallelism is of 2. I will fix this typo in the next release. Thanks!

[2022-10-21 22:18] tsung-wei-huang commented on #439
Hi @MAhaitao999 thanks for your interest. Maybe you can have a look at our [Task-parallel Pipeline](https://taskflow.github.io/taskflow/TaskParallelPipeline.html)?

[2022-10-21 22:18] #438 closed

[2022-10-21 22:19] #431 closed

[2022-10-30 00:06] grue-bleen opened #441 "Support P2300R4 std::execution Draft Proposal"
While this proposal seems increasingly unlikely to make it into C++23, the std::execution effort is very relevant to taskflow and is available in libunifex and other implementations of the senders-receivers concepts.  Taskflow evolution would benefit greatly from aligning with this evolving standard, and perhaps we get some io_uring goodness while we're at it.  :-)

[2022-11-08 15:59] waitingtocompile opened #445 "std::aligned_union deprecated in C++23 onwards"
Currently `SmallVectorTemplateCommon` makes use of the `std::aligned_union` template, which is deprecated in C++23 onwards.

[2022-11-10 07:04] qingfengxia opened #446 "Add support Visual Studio 2017"
Some example can not be compiled, like using API `named_async()`

`p.object.set_value(cancel ? std::nullopt : std::make_optional(f(args...)));`

I wonder if it is possible to replace the `std::make_optional(f(args...))` with conditonal compiling

can not correlate with [ visual studio release version](https://learn.microsoft.com/en-us/visualstudio/releases/2019/history) with taskflow requirement o

[2022-11-10 21:57] tsung-wei-huang commented on #446
Hi @qingfengxia , could you please paste the compilation error from your side? Thanks!

[2022-11-10 22:11] tsung-wei-huang commented on #445
Thanks! I have fixed it and will push it to the master for the next release.

[2022-11-10 22:11] #445 closed

[2022-11-11 06:32] qingfengxia commented on #446
cancel_async exmple has error

`
template <typename F, typename... ArgsT>
auto Executor::named_async(const std::string& name, F&& f, ArgsT&&... args)
`

Severity	Code	Description	File	Line	Suppression State
Error	C2672	'make_optional': no matching overloaded function found	executor.hpp	871
Error	C2660	'std::promise<void>::set_value': function does not take 1 arguments	executor.hpp	871
Error	C2893

[2022-11-11 07:59] liujp opened #447 "Looks DeadLock For MultiTasks"
It look a lot of task in a Taskflow, an deadlock may occurred

 tf::Executor executor;
    tf::Taskflow tasks("Test");
    for (int i = 0; i < 32; i++) {
      tasks.emplace([i, this]() {
        const auto &path = MakeTempFiles(tmp_file_path_, label_ + "_f_", i);
        this->DoSomeThing(path);
      });
    }
    executor.run(tasks).wait();

[2022-11-11 16:51] tsung-wei-huang commented on #447
I am quite skeptical about this. Could you please paste the complete code? Did you capture `i` in copy?

[2022-11-11 18:53] tsung-wei-huang commented on #446
Yes, I suspect it's an issue with MS compiler to detect the return value (type of the optional) that should be done correctly with auto-deduction. What if you change the following three lines:

[code]

[2022-11-14 05:15] qingfengxia commented on #446
using your first solution, the std::opitonal error has gone, now get into second error message.

Severity	Code	Description	File	Line	Suppression State
Error	C2660	'std::promise<void>::set_value': function does not take 1 arguments	 executor.hpp	876
Error	C2661	'std::promise<R>::set_value': no overloaded function takes 0 arguments	executor.hpp	868

I think visual c++ 14.x,  does not support `if con

[2022-11-14 05:50] tsung-wei-huang commented on #446
Do you have a C++17 compiler in your MSVC version? This might be the best way to get rid of `constexpr` error.

[2022-11-14 13:38] liujp commented on #447
yes, the local value ’i‘ is captured by copy, then I want to run agin and paste the detail

[2022-11-14 15:27] tsung-wei-huang commented on #447
I don't see any possibility of a deadlock. Have you actually run into a deadlock? Maybe a complete example is better for me to reproduce the issue.

[2022-11-15 03:17] qingfengxia commented on #446
we have no chance to upgrade visual studio, I have solved the problem.   `named_async()`,  now the last error  :  unexpected end-of-file.

[2022-11-15 03:24] liujp commented on #447
The background is that:  I use task flow to set kv Paris to the kv-store which use the CSA method, when I use this, the program hang here, and then I use the CPP thread to send kv pairs it works fine, so I think this may be a lock in taskflow , for the time on-line, I did not debug the program carefully.

void BatchPut() {
    tf::Executor executor;
    tf::Taskflow tasks("ClientBatchPut");
    fo

[2022-11-15 03:30] liujp commented on #447
The background is that: I use task flow to set kv Paris to the kv-store which use the CSA method, when I use this, the program hang here, and then I use the CPP thread to send kv pairs it works fine, so I think this may be a lock in taskflow , for the time on-line, I did not debug the program carefully.

void CASPut() {
    tf::Executor executor;
    tf::Taskflow tasks("ClientCASPut");
    for (in

[2022-11-15 03:32] liujp commented on #447
The background is that: I use task flow to set kv Paris to the kv-store which use the CSA method, when I use this, the program hang here, and then I use the CPP thread to send kv pairs it works fine, so I think this may be a lock in taskflow , for the time on-line, I did not debug the program carefully.

void CASPut() {
tf::Executor executor;
tf::Taskflow tasks("ClientCASPut");
for (int i = 0; i <

[2022-11-15 03:33] liujp commented on #447
tasks.emplace([I, this](){})

[2022-11-15 03:38] liujp commented on #447
tasks.emplace('[i, this]'{})

[2022-11-15 05:04] qingfengxia commented on #446
Reason: visual studio 2017 (16.35 latest)  still does not support   `if-constexpr`, inside lambda

[broken parsing of greater-than comparison operator inside if-constexpr, inside lambda, inside std::visit](https://developercommunity.visualstudio.com/t/broken-parsing-of-greater-than-comparison-operator/323938)

Solution from hints <https://stackoverflow.com/questions/26421104/how-do-i-enable-if-a-c

[2022-11-17 12:26] qingfengxia commented on #446
except for data_pipeline , all other example and unittest can be compiled.

[2022-11-17 22:52] tsung-wei-huang commented on #446
@qingfengxia thanks! would you be willing to create a pull request? I guess you can skip the data pipeline compilation errors by not including its header in your application.

[2022-11-18 13:21] dinesh-10 commented on #72
Hi,

Is there any plan when this will be available. ?

I spent many hours in debugging an exception with taskflow.
The difference we get with taskflow compared to std is, the behavior of async. Where std::async doesn't crash on exception and returns the exception to main using future's get() and Executor::async crashes as soon as an exception occurs inside the subroutine. Which makes porting to ta

[2022-11-19 17:39] tsung-wei-huang commented on #72
Do you mean forwarding an exception, if any, to `tf::Future::get()` only for `tf::Executor::async` tasks?

[2022-11-30 11:17] coder137 opened #450 "Memory leak detected by CppUTest in simple Taskflow example for v3.3.0+"
**Describe the bug**
CppUTest finds a memory leak

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a simple project with CppUTest (memory leak detection on)
2. Compile a simple example test case
[code]
Commenting out the executor also causes a memory leak error
[code]
3. Test fails, error message pasted above

**Desktop (please complete the following information):**
 - OS: WSL (

[2022-11-30 18:17] tsung-wei-huang commented on #450
@coder137 would you please try the current master branch again? Please let me know if the problem still exists in the current master branch.

[2022-11-30 18:18] tsung-wei-huang commented on #447
@liujp would you please try the current/newest master branch again?

[2022-11-30 21:21] coder137 commented on #450
Hi @tsung-wei-huang,
I still see this error with the current master branch (Current commit: 3c97c903180ccf1a882cf9afd75509c48182f315)

Re-pasting
[code]

[2022-11-30 21:24] tsung-wei-huang commented on #450
The error is not very informative. Is it possible for you to come up with an example that I can reproduce it on my end? For example, what is the taskflow structure you used in your workload, etc?

Thanks!

[2022-11-30 21:35] coder137 commented on #450
Hi @tsung-wei-huang,

This is the entire example

[code]

[2022-11-30 21:41] tsung-wei-huang commented on #450
Doesn't seem to make any sense to me with a memory leak in this simple example. Would you please pate a complete report of the memory leak so I can take a look? Thanks.